@import "tailwindcss";

:root {
  --white: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #d4d4d4;
  --gray-400: #a3a3a3;
  --gray-500: #737373;
  --gray-600: #525252;
  --gray-700: #404040;
  --gray-800: #262626;
  --gray-900: #171717;
}

@theme inline {
  --color-white: var(--white);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --font-manrope: var(--font-manrope);
  --font-lato: var(--font-lato);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

input,
textarea,
select,
button {
  font-family: var(--font-lato);
  line-height: normal;
  color: var(--color-white);
  font-size: 16px;
  letter-spacing: 0.8px;
}

input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus {
  outline: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: var(--color-white) !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

body {
  background: var(--gray-900);
  color: var(--white);
  font: var(--font-lato);
}

button {
  cursor: pointer;
}